* {
  /* border: 1px solid red; */
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 20vh;
}
.about-me h2 {
  margin-top: 10vh;
  background: linear-gradient(0deg, #d380e2 25%, #00ffff00 30%);
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 30vh;
  background: linear-gradient(
    180deg,
    #3d05d800 5%,
    #ff000004 15%,
    #ff000009 20%,
    #ff000007 50%,
    #cf4e8007 90%,
    #00ffff00
  );
}
.project-card {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: rgb(255, 255, 255);
  height: fit-content;
  border-radius: 30px;
  max-height: 80vh;
  width: 80%;
  display: flex;
}
.project-image-container {
  border-right: 1px dashed rgb(255, 0, 0);
  margin-right: 1rem;
  height: fit-content;
  align-self: center;
}
.project-image-container img {
  max-width: 35vw;
  margin: 20px;
  border-radius: 10px;
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  align-items: center;
  width: 100%;
  align-self: center;
}
.hater-title {
  width: fit-content;
  background: linear-gradient(0deg, #df0303 25%, #00ffff00 30%);
}

.project-tools {
  width: fit-content;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-tools img {
  padding: 10px;
  max-width: 80px;
}
.cosmos {
  background: linear-gradient(
    180deg,
    #3d05d800 5%,
    #ff000004 15%,
    #0400ff09 20%,
    #f700ff07 50%,
    #c44ecf07 90%,
    #00ffff00
  );
}
.cosmos-title {
  background: linear-gradient(0deg, #7c03df8f 25%, #00ffff00 30%);
}
.nined-title {
  background: linear-gradient(0deg, #df92038f 25%, #00ffff00 30%);
}
.github-links a {
  margin: 1rem;
  text-decoration: none;
  color: rgb(7, 75, 7);
}
.github-links a:visited {
  color: rgb(74, 75, 7);
}
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.image-array img {
  margin: 2rem;
  margin-top: 20vh;
  width: 125px;
}
.profile-pic {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background-image: url("./assets/profile.png");
  background-position: center center;
  background-size: contain;
  margin-top: 3rem;
}

@media only screen and (min-width: 1000px) {
  p {
    font-size: 1.4rem;
  }
  .github-links {
    font-size: 1.4rem;
  }
}
